<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wishlist</title>
  </head>
  <body>
    <h1>Hello from wishlist!</h1>
    <% items.forEach(item => { %>
    <div>
      <img src="<%= item.imageUrl %>" />
      <h2><%= item.name %></h2>
      <p><%= item.price %> DKK</p>
      <a href="<%= item.infoUrl %>">Read more</a>
    </div>
    <% }) %>
  </body>
</html>
